<?xml version="1.0" encoding="UTF-8"?> <!-- 톰캣이 실행될때 가장 먼저 실행 -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/Javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>HelloWeb</display-name>
	
	<servlet>
		<servlet-name>front</servlet-name>
		<servlet-class>co.edu.FrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>front</servlet-name>
		<url-pattern>*.do</url-pattern> <!--주소창에 이 값이 들어가면 front를 실행 !-->
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>